In [86]:
import numpy as np ##Import the required Libraries.
import pandas as pd
import seaborn as sls

In [87]:
#Read the data in pandas
inp0 = pd.read_csv("/content/Attribute+DataSet.csv")
inp1 = pd.read_csv("/content/Dress+Sales.csv")

In [88]:
# Print the information about the attributes
inp0.head()
inp0.info()
print("Shape of inp0:", inp0.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB
Shape of inp0: (479, 13)

In [90]:
## Print the information about the attributes
inp1.head()
inp1.info()
print("Shape of inp1:", inp1.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB
Shape of inp1: (479, 24)

In [91]:
#Column fixing, correcting size abbreviation. count the percentage
inp0.Size.unique()

array(['M', 'L', 'XL', 'free', 'S', 'small', 's'], dtype=object)

In [92]:
#Column fixing, correcting size abbreviation. count the percentage
inp0.Size.replace('M', 'Medium', inplace=True)
inp0.Size.replace('L','Large', inplace=True)
inp0.Size.replace('XL','Extra Large', inplace=True)
inp0.Size.replace('free','Free', inplace=True)
inp0.Size.replace(['S','small','s'],'Small', inplace=True)

In [93]:
#Column fixing, correcting size abbreviation. count the percentage
inp0.Size.value_counts()

Size
Medium         171
Free           165
Large           93
Small           36
Extra Large     14
Name: count, dtype: int64

In [94]:
# Print the null count of each variables
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

In [95]:
# Print the null count of each variables
inp1.isnull().sum()

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      0
14-09-2013      0
16-09-2013      0
18-09-2013      0
20-09-2013      0
22-09-2013      0
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

In [96]:
#Fixing data types of columns
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

In [97]:
##Fixing data types of columns: Try 1
is_str = lambda x: type(x)

inp1['09-12-2013'].apply(is_str).value_counts()
inp1['14-09-2013'].apply(is_str).value_counts()
inp1['16-09-2013'].apply(is_str).value_counts()
inp1['18-09-2013'].apply(is_str).value_counts()
inp1['20-09-2013'].apply(is_str).value_counts()
inp1['16-09-2013'].apply(is_str).value_counts()





#Fixing data types of columns try 2
#a = inp1.loc[inp1['09-12-2013']].apply(lambda x: x.isinstance(x, str))
#a

16-09-2013
<class 'str'>    479
Name: count, dtype: int64

In [98]:
# #Fixing data types of columns - replacing str values with NaN values
inp1.loc[inp1['09-12-2013'] == 'Removed'] = np.nan
inp1.loc[inp1['14-09-2013'] == 'removed'] = np.nan
inp1.loc[inp1['16-09-2013'] == 'removed'] = np.nan
inp1.loc[inp1['18-09-2013'] == 'removed'] = np.nan
inp1.loc[inp1['20-09-2013'] == 'removed'] = np.nan
inp1.loc[inp1['22-09-2013'] == 'Orders'] = np.nan

In [99]:
#Fixing data types of columns
inp1['09-12-2013'] = inp1['09-12-2013'].astype(float)
inp1['14-09-2013'] = inp1['14-09-2013'].astype(float)
inp1['16-09-2013'] = inp1['16-09-2013'].astype(float)
inp1['18-09-2013'] = inp1['18-09-2013'].astype(float)
inp1['20-09-2013'] = inp1['20-09-2013'].astype(float)
inp1['22-09-2013'] = inp1['22-09-2013'].astype(float)

In [100]:
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    477 non-null    float64
 1   29-08-2013  477 non-null    float64
 2   31-08-2013  477 non-null    float64
 3   09-02-2013  477 non-null    float64
 4   09-04-2013  477 non-null    float64
 5   09-06-2013  477 non-null    float64
 6   09-08-2013  477 non-null    float64
 7   09-10-2013  477 non-null    float64
 8   09-12-2013  477 non-null    float64
 9   14-09-2013  477 non-null    float64
 10  16-09-2013  477 non-null    float64
 11  18-09-2013  477 non-null    float64
 12  20-09-2013  477 non-null    float64
 13  22-09-2013  477 non-null    float64
 14  24-09-2013  477 non-null    float64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  477 non-null    float64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  477 non-null    float64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  477 non-null    float64
dtypes: float64(24)
memory usage: 89.9 KB

In [101]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.

fun = inp1.isnull().sum()
per = fun[fun > 40].index
inp1.drop(per, axis=1, inplace=True)
inp1.info()

#df = inp1.loc[:, per]  (failed approch, kept for future refrance)
#df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    477 non-null    float64
 1   29-08-2013  477 non-null    float64
 2   31-08-2013  477 non-null    float64
 3   09-02-2013  477 non-null    float64
 4   09-04-2013  477 non-null    float64
 5   09-06-2013  477 non-null    float64
 6   09-08-2013  477 non-null    float64
 7   09-10-2013  477 non-null    float64
 8   09-12-2013  477 non-null    float64
 9   14-09-2013  477 non-null    float64
 10  16-09-2013  477 non-null    float64
 11  18-09-2013  477 non-null    float64
 12  20-09-2013  477 non-null    float64
 13  22-09-2013  477 non-null    float64
 14  24-09-2013  477 non-null    float64
 15  28-09-2013  477 non-null    float64
 16  10-06-2013  477 non-null    float64
 17  10-12-2013  477 non-null    float64
dtypes: float64(18)
memory usage: 67.5 KB

In [107]:
#Grouping columns in new columns
inp1['Summer'] = inp1['29-08-2013'] + inp1['31-08-2013'] + inp1['10-06-2013']
inp1['Autumn'] = inp1['09-10-2013'] + inp1['14-09-2013']+ inp1['16-09-2013']+ inp1['18-09-2013']+ inp1['20-09-2013']+ inp1['22-09-2013']+ inp1['24-09-2013']+ inp1['28-09-2013']
inp1['Winter'] = inp1['10-12-2013'] + inp1['09-02-2013'] + inp1['09-12-2013']
inp1['Spring'] = inp1['09-04-2013']

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1.006033e+09,2114.0,2274.0,2491.0,2660.0,2727.0,2887.0,2930.0,3119.0,3204.0,...,3386.0,3479.0,3554.0,3706.0,3897.0,4048.0,8285.0,26857.0,9658.0,2660.0
1,1.212192e+09,151.0,275.0,570.0,750.0,813.0,1066.0,1164.0,1558.0,1756.0,...,2106.0,2454.0,2710.0,3258.0,3911.0,4277.0,4337.0,17311.0,6405.0,750.0
2,1.190381e+09,6.0,7.0,7.0,7.0,8.0,8.0,9.0,10.0,10.0,...,10.0,11.0,11.0,11.0,11.0,11.0,24.0,82.0,28.0,7.0
3,9.660060e+08,1005.0,1128.0,1326.0,1455.0,1507.0,1621.0,1637.0,1723.0,1746.0,...,1812.0,1845.0,1878.0,1914.0,1952.0,1963.0,4085.0,14411.0,5012.0,1455.0
4,8.763395e+08,996.0,1175.0,1304.0,1396.0,1432.0,1559.0,1570.0,1638.0,1655.0,...,1824.0,1919.0,2032.0,2252.0,2544.0,2736.0,4715.0,14676.0,5678.0,1396.0

In [110]:
#Sum of total values
print("Summer:",inp1.Summer.sum())
print("Autumn:",inp1.Autumn.sum())
print("Winter:",inp1.Winter.sum())
print("Spring:",inp1.Spring.sum())

Summer: 390521.0
Autumn: 1353543.0
Winter: 470860.0
Spring: 142596.0

In [111]:
#merge : Left Join
inp0 = pd.merge(left=inp0, right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,3386.0,3479.0,3554.0,3706.0,3897.0,4048.0,8285.0,26857.0,9658.0,2660.0
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,...,2106.0,2454.0,2710.0,3258.0,3911.0,4277.0,4337.0,17311.0,6405.0,750.0
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,...,10.0,11.0,11.0,11.0,11.0,11.0,24.0,82.0,28.0,7.0
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,...,1812.0,1845.0,1878.0,1914.0,1952.0,1963.0,4085.0,14411.0,5012.0,1455.0
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1824.0,1919.0,2032.0,2252.0,2544.0,2736.0,4715.0,14676.0,5678.0,1396.0

In [115]:
#drop unwanted columns, using range of columns as indexer
inp0.drop(inp0.loc[:, '29-08-2013':'10-12-2013'].columns, axis=1, inplace=True)
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Summer              2
Autumn              2
Winter              2
Spring              2
dtype: int64

In [121]:
#handling missing values by dropping acording to their low volumne
less_miss = ['Price','Season','NeckLine','SleeveLength','Winter','Autumn']
inp0.dropna(subset = less_miss, inplace=True)

In [125]:
#handling missing values by replacing them acording to their high volumne
inp0['Material'] = inp0['Material'].replace(np.nan, 'Missing')
inp0.FabricType = inp0['FabricType'].replace(np.nan, 'Missing')
inp0.Decoration = inp0['Decoration'].replace(np.nan, 'Missing')
inp0['Pattern Type'] = inp0['Pattern Type'].replace(np.nan, 'Missing')

In [126]:
inp0.isnull().sum()

Dress_ID          0
Style             0
Price             0
Rating            0
Size              0
Season            0
NeckLine          0
SleeveLength      0
Material          0
FabricType        0
Decoration        0
Pattern Type      0
Recommendation    0
Summer            0
Autumn            0
Winter            0
Spring            0
dtype: int64